html {
  font-size: 16px;
}

body {
  background-color: #f7f6fb;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}
