.ChatForm {
  padding: 10px 20px;
  display: flex;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  input {
    flex: 1;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 40px;
    height: 40px;
    background-color: #5d5ce8;
    border-radius: 50%;
    margin-left: 12px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 3px 0 0;
  }
}
