.Widget {
  width: 992px;
  max-width: calc(100vw - 30px);
  height: 680px;
  max-height: calc(100vh - 30px);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
}
