.ChatMessage {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #ddd;
  align-self: flex-start;
  padding: 8px 12px;
  border-radius: 0 8px 8px;
  margin-bottom: 12px;

  &.sent {
    align-self: flex-end;
    background-color: #5d5ce8;
    color: white;
    border-radius: 8px 0 8px 8px;
  }
}
